/* Base styles for the entire HTML document */
html {
    font-size: 10px;
    font-family: 'Times New Roman', sans-serif;
  }

  /* Styles for the main heading (h1) */
  h1 {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
  }

  /* Styles for paragraphs (p) and list items (li) */
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

  /* Overall styles for the body, setting a fixed width, margin, padding, and border */
  body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }

  /* Additional styles for the main heading (h1) */
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
  }

  /* Styles for images, centering them in the container */
  img {
    display: block;
    margin: 0 auto;
  }

/* Styles for images to limit their maximum width and maintain aspect ratio */
img {
  display: block;
  margin: 0 auto;
  max-width: 70%; /* Set the maximum width to 70% of its container */
  height: auto; /* Maintain the aspect ratio */
}

/* Background color for the body */
  body {
    background-color: #B2E0C2; /* Light green background */
  }

  /* Background color for unordered lists (ul) */
  ul {
    background-color: #8CD790; 
  }

  /* Styles for buttons */
  button {
    background-color: #2E4A62; 
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
  }
  
